APP_PUBLIC_URL=http://localhost:3000

OPENROUTER_API_KEY=
OPENROUTER_MODEL=google/gemini-2.5-flash

GROQ_API_KEY=
GROQ_STT_MODEL=whisper-large-v3

ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=ocZQ262SsZb9RIxcQBOj
ELEVENLABS_MODEL_ID=eleven_multilingual_v2
